.container{
    .filter-panel{
        border: 1px solid #000000;
        border-radius: 4px;
        height: 100%;
    }

    .data-grid{
        border: 1px solid #000000;
        border-radius: 4px;
    }
}